<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to "Getting Started", "how_it_works" %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "How it Works", 'how_it_works' %></li>
          <li><i class="icon-dot"></i><%= link_to "Events", 'how_it_works' %></li>
          <li><i class="icon-dot"></i><%= link_to "Configuration", 'configuraiton' %></li>
          <li><i class="icon-dot"></i><%= link_to "Notifications", 'notifications' %></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Storefront', 'sending_data' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Sending Data", 'sending_data' %></li>
          <li><i class="icon-dot"></i><%= link_to "Receiving Data", 'receiving_data' %></li>
          <li><i class="icon-dot"></i><%= link_to "Custom Data", 'custom_data' %></li>
          <li><i class="icon-dot"></i><%= link_to "Custom Hooks", 'custom_hooks' %></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Integrations', '#' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Multi Channel", 'multi_channel' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Accounting & ERP", 'accounting_and_erp' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Fulfillment", 'fulfillment' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Other Third Party", 'other_integrations' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Build Your Own", 'build_your_own_integrations' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Data Objects', 'summary' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Orders", '#' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Products", '#' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Customers", '#' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Tutorials', 'basic_endpoints_tutorial' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Connect your storefront", 'connect_storefront_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Configuring the hub", 'configure_hub_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Storefront hooks", 'storefront_hooks_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Custom integration", 'custom_integration_tutorial' %> <div class="toc"></div> </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
