<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to "Getting Started", "getting_started" %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "How it Works", 'how_it_works' %></li>
        </ul>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Create a Hub Account", 'creat_account' %></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Storefront', '#' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Sending Data", 'sending_data' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Receiving Data", 'receiving_data' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Integrations', '#' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Overview", '#' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Data Objects', 'summary' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Orders", '#' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Products", '#' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Customers", '#' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Tutorials', 'basic_endpoints_tutorial' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Basic endpoints", 'basic_endpoints_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Fulfillment integration", 'fulfillment_integration_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Custom attributes", 'custom_attributes_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Heroku endpoint hosting", 'heroku_endpoint_hosting_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Returning parameters", 'returning_params_from_endpoint_tutorial' %> <div class="toc"></div> </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
